/* CSS Document - BOXROY*/
/*** Tags HTML ***/
@charset "UTF-8";
/*----------------------- Reset -----------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%;}

article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section {display:block;}
nav ul {float:right; list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none;}
a {margin:0;padding:0;font-size:100%; background:transparent;}
/* change colours to suit your needs */
ins {background-color:#ff9;color:#000;text-decoration:none;}
/* change colours to suit your needs */
mark {background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}
del {text-decoration: line-through;}
abbr[title], dfn[title] {border-bottom:1px dotted;cursor:help;}
table {border-collapse:collapse;border-spacing:0;}
/* change border colour to suit your needs */
hr {display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0;}
header, footer, section, nav, aside, hgroup {display: block; }
body {background-color:white; font: 62.5% Arial,'Verdana',sans-serif; letter-spacing:1; position: inherit;}

/* COMMON CLASSES */
.break { clear:both; }


/* ESTILOS PARA HEADER */
#black{width:100%; background-color:black; height:25px;}
#red{width:100%; background-color:red; height:5px;}
#nav-black{height: 150px;  width:100%; color: #000; background-image:url(../images/header-bg.png);}
#navigation-texture {height: 35px; margin: 0 auto; width: 960px; font-size:12px;}
#header { height:395px; margin: 0 auto; position: relative; width: 100%; background-color: black; }

#logo {float: left;margin: -15px 0;}

/* NAVEGACION */
#menu {float: right; padding: 10px 0 0; font-weight:400;}
#menu ul {list-style: none outside none;}
#menu ul li {display: inline;}
#menu ul li a {color: #959595; font-weight: 500; padding:15px 20px; text-decoration: none;}
#menu ul li a:hover { background-color:black; }


/* ESTILOS PARA SLIDER */
#slides {
  position: relative;
  .slides-container {
    display: none;
  }
  .scrollable {
    @include pie-clearfix;
    position: relative;
    top: 0;
    left: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
  }
}

// Optional
.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
  a {
    position: absolute;
    display: block;
    &.prev {
      left: 0;
    }
    &.next {
      right: 0;
    }
  }
}
.slides-pagination {
  position: absolute;
  z-index: 3;
  bottom: 0;
  text-align: center;
  width: 100%;
  a {
    border: 2px solid #222;
    border-radius: 15px;
    width: 10px;
    height: 10px;
    @include inline-block;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=');
    margin: 2px;
    overflow: hidden;
    text-indent: -100%;
    &.current {
      background: #222;
    }
  }
}

/* ESTILOS PARA MAIN */
#upbox {float: left; width:520px;}
#main {height: 100%;margin: 0 auto;padding: 105px 0 45px;position: inherit;width: 955px;}
#main p {color:#605f5f; padding:10px 0; font-family:'Myriad Pro',sans-serif; font-size:17px; font-weight:lighter; clear:both;}

/* ESTILOS PARA FOOTER*/
#pienegro{width:100%; height:95px; margin:80px 0 auto; background-color:black; clear:both;}
#lineagris{width:100%; height:25px; background-color: grey; clear:both;}
#lineagris p{ }